---
layout: page
---
<!-- Welcome to Firefox Addons -->
<div id="firefox-addons">
	<div id="ads">
		<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-6944504853839360" data-ad-slot="9027495539"></ins>
	</div>
	<div id="two-side">
		<div id="description">
			<h3 data-i18n="title">Adrian Arroyo's Firefox Addons</h3>
			<p data-i18n="description">Hi, my name is Adrián Arroyo and I create addons for Firefox, Thunderbird, SeaMonkey and Fennec</p>
			<div id="screenshoots">
				<img src="images/mozcleaner-1.1.png" alt="mozCleaner 1.1 under Thunderbird 24">
				<img src="images/divtranslate-1.0.png" alt="DivTranslate 1.0">
				<img src="images/divhttp-1.0.png" alt="DivHTTP 1.0">
				<img src="images/the-super-clock-1.0.png" alt="The Super Clock 1.0">
			</div>
			<div id="donate">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_donations">
					<input type="hidden" name="business" value="soresnes@gmail.com">
					<input type="hidden" name="lc" value="US">
					<input type="hidden" name="item_name" value="firefox-addons">
					<input type="hidden" name="item_number" value="1">
					<input type="hidden" name="no_note" value="0">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="Donate via PayPal" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
				</form>
				<div id="bitcoin">
					<img alt="Donate via BitCoin" src="images/BitCoin.png">
					<p><a href="bitcoin:1A2j8CwiFEhQ4Uycsjhr3gQPbJxFk1LRmM">1A2j8CwiFEhQ4Uycsjhr3gQPbJxFk1LRmM</a></p>
				</div>
				<div id="flattr">
					<script class="cookie" type="text/plain" id='fbuv0di'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=AdrianArroyoCalle&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbuv0di');</script>
				</div>
				<div id="gittip">
					<script class="cookie" type="text/plain" data-gittip-username="710151044cb9" src="//gttp.co/v1.js"></script>
				</div>
			</div>
			<div id="disqus">
				<script type="text/plain" class="cookie">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'adrianarroyocallegithub'; // required: replace example with your forum shortname

				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
				</script>
			</div>
		</div>
		<div id="addon-list">
			<h3 data-i18n="addon-list">Addon list</h3>
			{% for addon in site.data.addons.addons %}
				<section itemscope itemtype="http://schema.org/SoftwareApplication" id="{{ addon.id }}">
					<h5 itemprop="name">{{ addon.name }}</h5>
					<img itemprop="image" src="{{ site.url }}/{{ addon.logo }}" alt="{{ addon.name }}" title="{{ addon.name }}" class="logo"/>
					<p itemprop="description" data-i18n="description-{{ addon.id }}">{{ addon.description.en }}</p>
					{% for compat in addon.compatible %}
						{% if compat == "firefox" %}
							<img src="images/MozillaFirefox.png" class="compat-icons" alt="Mozilla Firefox" title="Mozilla Firefox"/>
						{% endif %}
						{% if compat == "thunderbird" %}
							<img src="images/MozillaThunderbird.png" class="compat-icons" alt="Mozilla Thunderbird" title="Mozilla Thunderbird"/>
						{% endif %}
						{% if compat == "fennec" %}
							<img src="images/MozillaFennec.png" class="compat-icons" alt="Firefox for Android" title="Firefox Android"/>
						{% endif %}
						{% if compat == "seamonkey" %}
							<img src="images/MozillaSeaMonkey.png" class="compat-icons" alt="SeaMonkey" title="SeaMonkey"/>
						{% endif %}
					{% endfor %}
						<!-- Track Google Analytics -->
					<a id="download-{{ addon.id }}" data-i18n="download" href="{{ addon.download }}" rel="nofollow" target="_blank">Download</a>
					<script>
					var download=document.getElementById("download-{{ addon.id }}");
					download.addEventListener("click",function(){
						ga("send","event","download","{{ addon.id }}");
					});
					</script>
					<a data-i18n="show-changelog" class="show-changelog" id="show-changelog-{{ addon.id }}" >Show Changelog</a>
					<script>
					var show=document.getElementById("show-changelog-{{ addon.id }}");
					show.addEventListener("click",function(){
						var changelog=document.getElementById("changelog-{{ addon.id }}");
						if(changelog.className=="changelog")
						{
							changelog.className="changelog-show";
							ga("send","event","changelog","{{ addon.id }}");
						}
						else
							changelog.className="changelog";
					});
					</script>
					<div itemprop="releaseNotes" id="changelog-{{ addon.id }}" class="changelog">
						{% for changes in addon.changelog %}
							<h6>{{ changes.release }}</h6>
							<ul>
							{% for change in changes.changes %}
								<li>{{ change }}</li>
							{% endfor %}
							</ul>
						{% endfor %}
					</div>
					<script>
					var section=document.getElementById("{{ addon.id }}");
					section.addEventListener("hover",function(){
						ga("send","event","hover","{{ addon.id }}");
					});
					</script>
				</section>
			{% endfor %}
		</div>
	</div>
	<div id="copyright">
	2015 Adrián Arroyo Calle - Background image from ESO/José Francisco (josefrancisco.org) - Addons are under the GPLv2 license
	</div>
	<script>
	i18n.init({
		resGetPath: "{{ site.url }}/locales/__lng__.json"
	},function(t){
		// ADD FROM YAML files
		{% for addon in site.data.addons.addons %}
			i18n.addResource("dev","translation","description-{{ addon.id }}","{{ addon.description.en }}");
			{% if addon.description.es %}
				i18n.addResource("es","translation","description-{{ addon.id }}","{{ addon.description.es }}");
			{% endif %}
		{% endfor %}
		
		var documents=document.querySelectorAll("[data-i18n]");
		for(var i=0;i<documents.length;i++)
		{
			var translated=t(documents[i].dataset.i18n);
			documents[i].textContent=translated;
		}
	});
	</script>
</div>
